<div class="container">
	<h1>Email me!</h1>
	<form [formGroup]="emailForm" (ngSubmit)="onSubmit()" novalidate>
		<mat-form-field>
			<input matInput formControlName="senderName" placeholder="Your Name" value="">
		</mat-form-field><br>
		<mat-form-field>
			<input matInput formControlName="senderEmail" placeholder="Your Email" value="">
		</mat-form-field><br>
		<mat-form-field>
			<textarea matInput formControlName="messageBody" placeholder="Message" value="" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5"></textarea>
		</mat-form-field><br>
		<button type="submit" [disabled]="emailForm.status != 'VALID'">Send</button><br>
		<p [hidden]="emailForm.status == 'VALID' || emailForm.pristine">Warning Message</p>
	</form>
	<p>Form value: {{emailForm.value | json}}</p>
	<p>Form status: {{emailForm.status | json}}</p>
	<p>Form pristine: {{emailForm.pristine | json}}</p>
</div>