.center-container {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
	align-items: center;
    justify-content: center;
    padding: 20px 0;
}
img.logo {
    max-width: 90%;
    height: auto;
}

@media only screen and (min-width: 400px) { /*desktop*/
    img.logo {
        width: 400px;
    }
}