.post-list a {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s;
  background-color: #85E0E0;
  border: none;
}

.post-list a:hover {
  color: #eee;
  transition: color 0.5s;
}

.post-list .post-title {
  font-style: italic;
  white-space: normal;
  padding: 7.5px 0;
}

.post-list .avatar { 
	margin: 0 10px 0 0;
	font-size: 35px;
}

li {
  background-color: #85E0E0;
  border: none;
}