.post-list { /*mobile*/
  padding: 20px 0px 100px 0px;
}


.post-list a {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s;
}


.post-list a:hover {
  color: #eee;
  transition: color 0.5s;
}

@media only screen and (min-width: 800px) { /*desktop*/
  .post-list {
    padding: 20px 40px 100px 40px;
  }
}