@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
	background-color: #85E0E0;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	transition: color 0.5s;
}

p {
	color: #fff;
}

p:hover {
	cursor: default;
}

a:hover {
	color: #eee;
	transition: color 0.5s;
}

.center-container {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
	align-items: center;
    justify-content: center;
    padding: 20px 0;
}

h2 { /* Safari adjustment */
	font-weight: normal;
}

.container { /* mobile */
	margin: 0 0 100px 0;
}

@media only screen and (min-width: 800px) { /*desktop*/
	.container {
		margin: 0 56px 100px 56px;
	}
}