@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/

html {
	background-color: #85E0E0;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

body {
	background-color: #85E0E0;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	transition: color 0.5s;
	background-color: #85E0E0;
}

p {
	color: #fff;
}

p:hover {
	cursor: default;
}

a:hover {
	color: #eee;
	transition: color 0.5s;
}

.center-container {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
	align-items: center;
    justify-content: center;
}

h2 { /* Safari adjustment */
	font-weight: normal;
	font-size: 20px;
}

.container { /* mobile */
	margin-bottom: 100px;
}

@media only screen and (min-width: 800px) { /*desktop*/
	.container {
		margin-bottom: 100px;
	}
}